@font-face {
    font-family: 'latoregular';
    src: url('./Fonts/lato-regular-webfont.woff2') format('woff2'),
        url('./Fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEEEEE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'latoregular', Arial, Helvetica, sans-serif;

    --accent-color: #398ab8;
}

main {
    background-color: #FFFFFF;
    width: 80%;
    display: flex;
}

.image-sidebar {
    position: relative;
    height: 100%;
    min-height: 900px;
    min-width: 400px;
    background-image: url(./Images/background-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 256px;
    padding: 10px 0;
}

.logo {
    width: 80px;
    height: auto;
}

.logo-container h1 {
    text-transform: uppercase;
    color: white;
    font-size: 64px;
}

.attribution {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    color: white;
    font-size: 12px;

    a {
        color: white;
    }
}

button,
label,
input {
    display: block;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
    width: 100%;

}

form {
    margin-top: 50px;
}

.form-sidebar {
    margin-top: 160px;
}

.form-sidebar>p {
    margin-left: 25px;
}

form h2,
form button,
form p {
    margin: 10px 40px 10px 25px;
}


.form-row {
    display: flex;
    justify-content: space-between;
    max-width: fit-content;
}

.input-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 40px 10px 25px;
}

.input-item label {
    text-transform: uppercase;
    font-size: 14px;
}