@font-face {
    font-family: 'latoregular';
    src: url('./Fonts/lato-regular-webfont.woff2') format('woff2'),
        url('./Fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'latoregular', Arial, Helvetica, sans-serif;

    --accent-color: #398ab8;
    --form-margin: 50px;
}

main {
    background-color: #fafafa;
    width: 80%;
    display: flex;
}

.image-sidebar {
    position: relative;
    height: 100%;
    min-height: 900px;
    min-width: 400px;
    background-image: url(./Images/background-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 256px;
    padding: 10px 0;
}

.logo {
    width: 80px;
    height: auto;
}

.logo-container h1 {
    text-transform: uppercase;
    color: white;
    font-size: 64px;
}

.attribution {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;

    color: white;
    font-size: 12px;

    a {
        color: white;
    }
}

.form-sidebar {
    flex: 1;
    margin-top: 160px;
}

.form-sidebar>p {
    margin-left: var(--form-margin);
    max-width: 48ch;
    font-size: 18px;
    font-weight: bold;
}

.italic {
    font-style: italic;
}

form h2,
form button,
form p {
    margin: 10px var(--form-margin);
}

.form-row {
    display: flex;
    justify-content: space-between;
    max-width: fit-content;
}

.input-item {
    display: flex;
    flex-direction: column;
    margin: 10px 15px 10px var(--form-margin);
}

button,
label,
input {
    display: block;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

form {
    margin-top: 50px;
}

.input-item label {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 2px;
}


input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'] {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    height: 28px;
    min-width: 225px;
    outline: none;
}

input:invalid {
    border: 1px solid red;
}

input:hover {
    border: 1px solid #babcc0;
}

input:focus {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid blue;
    box-shadow: 1px 1px 3px grey;
}

.card {
    padding: 10px 0 20px;
    background-color: #FFFFFF;
}

form button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 50px;
    margin-top: 30px;
}

#login-link {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
}